<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269151301473-b26eekbf74ju6f152ba3dfp7cgcqk3j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269151301473-b26eekbf74ju6f152ba3dfp7cgcqk3j7</string>
	<key>API_KEY</key>
	<string>AIzaSyDAgNN6GckTtx9GyQVsMx-rMV4a56X4-SA</string>
	<key>GCM_SENDER_ID</key>
	<string>269151301473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junhaohuang.assignment6</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a071d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a071d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269151301473:ios:a613a30e261be628</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a071d.firebaseio.com</string>
</dict>
</plist>